<!DOCTYPE html>
<html>
<head>
    <title>CafeFlow Dashboard</title>
    <style>
        .navbar {
            padding: 10px;
            background-color: lightgray;
        }
        
        .navbar a {
            margin-right: 15px;
            text-decoration: none;
        }
        
        div {
            border: 1px solid black;
            padding: 15px;
            margin: 10px;
            width: 180px;
            text-align: center;
        }

        .dashboard-container{
            display: flex;
            flex-wrap: wrap;

        }
    </style>
</head>

<body>

    <div class="navbar">
        <a href="/menu/">Menu</a>
        <a href="/order/">Order</a>
        <a href="/orders/">Orders</a>
        <a href="/dashboard/">Dashboard</a>
    </div>    
    <hr>

    <h1>CafeFlow Dashboard</h1>
    <div class="dashboard-container">

        <div>
            <h3>Total Orders</h3>
            <p>{{ total_orders }}</p>
        </div>
    
        <div>
            <h3>Pending Orders</h3>
            <p>{{ pending_orders }}</p>
        </div>
    
        <div>
            <h3>Preparing Orders</h3>
            <p>{{ preparing_orders }}</p>
        </div>
    
        <div>
            <h3>Ready Orders</h3>
            <p>{{ ready_orders }}</p>
        </div>
    
        <div>
            <h3>Delivered Orders</h3>
            <p>{{ delivered_orders }}</p>
        </div>

        <div>
            <h3>Top Selling Items</h3>
            <p>{{ top_item }}</p>
        </div>

        <div>
            <h3>Total_revenue</h3>
            <p>{{ total_revenue }}</p>
        </div>
   
    </div>

    <h2>Recent Orders</h2>
    <ul>
        {% for order in recent_orders %}
            <li>
                {{ order.customer_name }}
                -
                {{ order.menu_item }}
                -
                {{ order.quantity }}
            </li>
       {% endfor %}
    </ul>

</body>
</html>
