<!DOCTYPE html>
<html>
    <style>
        .navbar {
            padding: 10px;
            background-color: lightgray;
        }
        
        .navbar a {
            margin-right: 15px;
            text-decoration: none;
        }
    </style>
<body>

    <a href="/orders/">All</a> |
    <a href="/orders/?status=Pending">Pending</a> |
    <a href="/orders/?status=Preparing">Preparing</a> |
    <a href="/orders/?status=Ready">Ready</a> |
    <a href="/orders/?status=Delivered">Delivered</a>

    <hr>

    <div class="navbar">
        <a href="/menu/">Menu</a>
        <a href="/order/">Order</a>
        <a href="/orders/">Orders</a>
        <a href="/dashboard/">Dashboard</a>
    </div>
    
    <hr>

    <h1>Customer Orders</h1>
    {% for order in orders %}

        <h2>{{ order.customer_name }}</h2>
        <p><strong>Menu Item:</strong> {{ order.menu_item }}</p>
        <p><strong>Quantity:</strong> {{ order.quantity }}</p>
        <p><strong>Ordered At:</strong> {{ order.created_at }}</p>
        <p><strong>Total Price:</strong> Rs. {{ order.total_price }}</p>
        <p><strong>Status:</strong> {{ order.status }}</p>

        <hr>
        
    {% endfor %}

</body>
</html>

